body {

    background-color: green;
    background-image: url("https://66.media.tumblr.com/b8788ad627a3ddf5d7fec491ac0a5fee/tumblr_pq7foqyAIG1uzwgsuo1_400.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;
}

.container-fluid {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 100vh;
    width: 100%;

   
}

table {
    height: 10%;
    width: 10%;
    overflow-y: scroll;
    text-align: center;
    background-position: 50%;
}

td, tr, th { 
    border: 1px solid green;
    background: white;
    color: black;
    padding: 5px;
}

#scrollTable { 
    margin-top: 20px; 
    height: 200px; 
    overflow: auto; 
}
#scrolltable th #scrollHeader { 
    position: absolute; 
    margin-top: -20px; 
}

#title {
    background-color: white;
    width: 10%;
    display: inline-block;
    margin-top: 10px; 
    padding: 5px;
    color: black;
    border-radius: 30%;
    border: 2px solid yellow;
    background: -webkit-linear-gradient(cyan, rgb(255, 124, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#box1 {
    position: relative;
    top: -180px;
}
#box2 {
    position: relative;
    top: -180px;
}
/* #clicks {
    position: relative;
    top: -565px;
    left: 646px;
} */
/* #myDiv{
    left: 40%;
    top: 40%;
    position: fixed;
} */

.whatever{
    display: block !important;
}